<h1>Message Detail</h1>

<p>ID: <%= message.id %></p>
<p>Chat ID: <%= message.chat_id %></p>
<p>User ID: <%= message.user_id %></p>
<p>Body: <%= message.body %></p>

<%= link_to "Back to Messages List", messages_path %>