<div class="container">
  <h1>Editar perfil</h1>

  <%= form_with model: @user, local: true do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <% if current_user.admin? %>
      <div class="field">
        <%= f.label :role %>
        <%= f.select :role, User::ROLES %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Guardar cambios" %>
    </div>
  <% end %>

</div>
