<div class="container">
    <h1>Users here</h1>
    <h2>Users List</h2>
    <%= link_to "New User", new_user_path %>
</div>
<div class="container">
    <table class="table">
        <tr>
            <td scope="col">ID</td>
            <td scope="col">First Name</td>
            <td scope="col">Last Name</td>
            <td scope="col">Email</td>
            <td scope="col">Actions</td>
        </tr>
        <% @users = @users.order(:id) %>
        <% @users.each do |user| %>
        <tr>
            <td scope="col"><%= user.id %></td>
            <td scope="col"><%= user.first_name %></td>
            <td scope="col"><%= user.last_name %></td>
            <td scope="col"><%= user.email %></td>
            <td scope="col">
                <p><%= link_to "Show", user_path(user) %></p>
            </td>
            <td scope="col">
                <p><%= link_to "Edit", edit_user_path(user) %></p>
            </td>
        </tr>
        <% end %>
    </table>
</div>
