<div class="container">
  <h1>New User</h1>
</div>
<div class="container">
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> found:</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="container">
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    
    <%= f.submit "Create User", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container">
  <p><%= link_to "Back to Users List", users_path %></p>