<div class="container">
  <h1>Edit Chat</h1>

  <%= form_with model: @chat, local: true do |f| %>
    <%= f.label :sender_id, "Sender" %><br>
    <%= f.select :sender_id, User.all.collect { |u| [u.email, u.id] }, prompt: "Select a sender" %><br><br>

    <%= f.label :receiver_id, "Receiver" %><br>
    <%= f.select :receiver_id, User.all.collect { |u| [u.email, u.id] }, prompt: "Select a receiver" %><br><br>

    <%= f.submit "Edit Chat" %>
  <% end %>

  <% if @chat.errors.any? %>
    <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
