<div class="container">
    <h1>Chats here</h1>
    <h2>Chats List</h2>
    <%= link_to "New Chat", new_chat_path %>
</div>
<div class="container">
    <table class="table">
        <tr>
            <td scope="col">ID</td>
            <td scope="col">User 1 ID</td>
            <td scope="col">User 2 ID</td>
            <td scope="col">Actions</td>
        </tr>
        <% chats = chats.order(:id) %>
        <% chats.each do |chat| %>
        <tr>
            <td scope="col"><%= chat.id %></td>
            <td scope="col"><%= chat.sender_id %></td>
            <td scope="col"><%= chat.receiver_id %></td>
            <td scope="col">
            <p><%= link_to "Show", chat_path(chat) %></p>
            </td>
            <td scope="col">
                <p><%= link_to "Edit", edit_chat_path(chat) %></p>
            </td>
        </tr>
        <% end %>
    </table>
</div>


