<div class="container">
    <h1>Chat Detail</h1>
</div>
<div class="container">
    <p>ID: <%= chat.id %></p>
    <p>Sender ID: <%= chat.sender_id %></p>
    <p>Receiver ID: <%= chat.receiver_id %></p>
</div>
<div class="container">
    <p><%= link_to "Edit", edit_chat_path(chat) %></p>
    <p><%= link_to "Back to chats List", chats_path %></p>
</div>
<div class="container">
    <h2>Users List</h2>
    <p>There are the users of this chat</p>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th scope="col">Sender ID</th>
            <th scope="col">Sender Name</th>
            <th scope="col">Receiver ID</th>
            <th scope="col">Receiver Name</th>
        </tr>
        <tr>
            <td><%= chat.sender.id %></td>
            <td><%= chat.sender.first_name %> <%= chat.sender.last_name %></td>
            <td><%= chat.receiver.id %></td>
            <td><%= chat.receiver.first_name %> <%= chat.receiver.last_name %></td>
        </tr>
    </table>
</div>
<div class="container">
    <h2>Messages List</h2>
    <p>There are the messages of this chat</p>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th scope="col">Message ID</th>
            <th scope="col">Chat ID</th>
            <th scope="col">User ID</th>
            <th scope="col">Body</th>
            <th scope="col">Show</th>
        </tr>

        <% @messages.each do |message| %>
        <tr>
            <td><%= message.id %></td>
            <td><%= message.chat_id %></td>
            <td><%= message.user_id %></td>
            <td><%= message.body %></td>
            <td>
                <%= link_to "Show", message_path(message) %>
            </td>
        </tr>

        <% end %>
    </table>
</div>
